body{
  text-align:center;
  background-color: antiquewhite;
  display:inline
};

title{
  font-display: sans-serif;
  font-size: 40px;


};

tasksgenerator{
  font-display: sans-serif;
  font-style: bold;
  font-size: 20px
};

header{
width: 80%;
text-align: center

};
footer{
  width: 80%;
  text-align:center;

}
